[Unit]
Description=Clash rules
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/flask/venv/bin/python /root/flask/hello.py

[Install]
WantedBy=multi-user.target

